@import "./reset.css";

body {
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indi_logo {
  background: url("https://s3.us-west-2.amazonaws.com/secure.notion-static.com/0343f075-cbd6-48ab-8506-579f1de553a1/logo.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220808%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220808T081007Z&X-Amz-Expires=86400&X-Amz-Signature=72778e75b0f132fd06179a4887bf51911c9bdf184b890c33a975ba682a4360e7&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22logo.png%22&x-id=GetObject");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 240px;
  height: 50px;
}

.container {
  box-sizing: border-box;
  padding: 40px;
  margin-top: 30px;
  width: 450px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container span {
  color: rgb(98, 98, 98);
  line-height: 140%;
}

.find_button {
  padding: 12px;
  border-radius: 5px;
  text-align: center;
  background-color: #196ffa;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.find_button:hover {
  background-color: #458cff;
  color: white;
  cursor: pointer;
}
